.cardContainer {
  border-radius: 20px !important;
  height: auto;
}

@media (max-width: 767px) {
  .cardContainer {
    margin-top: 0rem;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .cardContainer {
    margin-top: -35rem;
    width: 80%;
    margin-left: 12rem;
  }
}

@media (min-width: 992px) {
  .cardContainer {
    margin-top: -34.5rem;
    width: 79rem;
    margin-left: -11rem;
  }
}



.becomeCardContainer {
  border-radius: 20px !important;
  height: auto;
}

@media (max-width: 767px) {
  .becomeCardContainer {
    margin-top: 0rem;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .becomeCardContainer {
    margin-top: 3rem;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .becomeCardContainer {
    margin-top: 1rem;
    width: 58rem;
    margin-left: -9.5rem;
  }
}

.tableCardContainer {
  border-radius: 20px !important;
  height: auto;
}

@media (max-width: 767px) {
  .tableCardContainer {
    margin-top: 2rem;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .tableCardContainer {
    margin-top: 1em;
    width: 80%;
    margin-left: 13rem;
  }
}

@media (min-width: 992px) {
  .tableCardContainer {
    margin-top: 4rem;
    width: 79rem;
    margin-left: -11rem;
  }
}



